.form, .form button {
    font-weight: 500;
    text-transform: uppercase;
}
.form label {
    font-size: medium;
    margin-right: 1rem;
}
.form > div {
    margin: 1rem;
}
.title {
    color: #4f46a5;
    margin: 0;
}
.subtitle {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    font-size: medium;
    margin: 0;
}
.rightAmount {
    color: darkgreen;
  }
  .wrongAmount {
    color: red;
  }